@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: #f8f9fa;
    --foreground: #212529;
    --card: #ffffff;
    --card-foreground: #212529;
    --primary: #0d6efd;
    --primary-foreground: #ffffff;
    --muted: #6c757d;
    --muted-foreground: #ffffff;
    --accent: #ffc107;
    --accent-foreground: #212529;
    --destructive: #dc3545;
    --destructive-foreground: #ffffff;
    --border: #dee2e6;
    --input: #e9ecef;
    --ring: #0d6efd;
  }

  .dark {
    --background: #212529;
    --foreground: #f8f9fa;
    --card: #343a40;
    --card-foreground: #f8f9fa;
    --primary: #0d6efd;
    --primary-foreground: #ffffff;
    --muted: #6c757d;
    --muted-foreground: #ffffff;
    --accent: #ffc107;
    --accent-foreground: #212529;
    --destructive: #dc3545;
    --destructive-foreground: #ffffff;
    --border: #495057;
    --input: #495057;
    --ring: #0d6efd;
  }
}

